<div class="contactTable">
  <table class = "table">
    <tr>
      <th class="headerName">Name</th>
      <th class="headerRole">Role</th>
      <th class="headerManager">Manager</th>
      <th class="headerPhone">Phone</th>
      <th class="headerDept">Dept</th>
    </tr>
    <tr>
      <td class="name">{{name}}</td>
      <td class="role">{{role}}</td>
      <td class="manager">{{manager}}</td>
      <td class="phone">{{phone}}</td>
      <td class="dept">{{dept.}}</td>
    </tr>
  </table>
</div>