 <table class = "tableBody"> 
  <tr>
    <td class="name">{{Name}}</td>
    <td class="role">{{Role}}</td>
    <td class="manager">{{Manager}}</td>
    <td class="phone">{{Phone}}</td>
    <td class="dept">{{Dept}}</td>
  </tr>
</table>