{{!-- <tr>
 --}}  
  <td class="photo"><img src={{Photo}}></td>
  <td class="name">{{Name}}</td>
  <td class="role">{{Role}}</td>
  <td class="manager">{{Manager}}</td>
  <td class="phone">{{Phone}}</td>
  <td class="dept">{{Dept}}</td>
  <td class="start"><time datetime="{{Start}}">{{Start}}</time></td>
{{!-- </tr>
 --}}
